<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Wastebook</title>
</head>

<body>
    <%-include('./partials/header')%>
<img class="tipImg" src="https://www.neuepresse.de/var/storage/images/np/hannover/meine-stadt/hannover-lebensmittelretter-im-einsatz/738504921-2-ger-DE/Lebensmittelretter-kaempfen-gegen-Verschwendung_reference_4_3.jpg" alt="">
    <h1>Tip</h1>
    <section>
    <div id="foodbasket">
     
        <div class="basketItem">
               <% images.forEach(element => { %>
            <div>
            <h3><%= element.description %></h3>
            <h3><%= element.ort %></h3>
            <h3><%= element.date %></h3>
            <h3><%= element.phone %></h3>
            <h3><%= element.email %></h3>
            <h3><%= element.name %></h3> 
            </div>
            <div class="flex"><img class="basketImg" src="<%= element.urlWaste %>" alt="">

         </div><% }) %>
    </div>
    </section>
    <%-include('./partials/footer')%>

</body>

</html>